<div class="container">
  <div class="card" (click)="toggleDescription(0)" (mouseenter)="showDescription(0)" (mouseleave)="hideDescription(0)" routerLink="/creer-demande-conformité">
    <img src="../../assets/client.jpg" alt="Client Image" class="client-image">
    <div class="card-header">Create a Compliance demand</div>
    <div class="card-content" [class.show]="showDescriptions[0]">
      <p class="description">Sont exemptés de l'homologation, 
        conformément aux dispositions de l'article 6 du 
        présent décret gouvernemental, et doivent être soumis 
        à une vérification de conformité aux exigences 
        techniques d'interfonctionnement avec les réseaux 
        publics des télécommunications et aux règles 
        d’utilisation et d’exploitation des fréquences: - 
        Les 
        équipements 
        terminaux 
        des 
        télécommunications et les équipements terminaux 
        radioélectriques importés au profit des personnes 
        physiques ou morales pour leurs besoins propres ou à 
        titre temporaire.  - 
        Les 
        équipements 
        terminaux 
        des 
        télécommunications et les équipements terminaux 
        radioélectriques importés dans le cadre d'exécution de 
        contrats de marchés publics pour le compte des 
        opérateurs de télécommunications ou des structures et 
        entreprises publiques pour leur propre usage. </p>
    </div>
  </div>

  <div class="card" (click)="toggleDescription(1)" (mouseenter)="showDescription(1)" (mouseleave)="hideDescription(1)" routerLink="/creer-demande-homologation">
    <img src="../../assets/client2.jpg" alt="Client Image" class="client-image">
    <div class="card-header">create an approval demand</div>
    <div class="card-content" [class.show]="showDescriptions[1]">
      <p class="description">l'ensemble des opérations de 
        contrôle appropriées et des essais nécessaires par 
        lesquelles un organisme agréé constate et atteste que 
        l'exemplaire représentatif des équipements terminaux 
        de télécommunications ou des équipements 
        radioélectriques répond à la réglementation, aux 
        normes et spécifications techniques en vigueur.  - Equipement terminal des télécommunications: 
        tout équipement pouvant être raccordé à la 
        terminaison d'un réseau des télécommunications en 
        vue d'offrir des services de télécommunications au 
        public.  - Equipement radioélectrique : tout équipement des 
        télécommunications 
        utilisant 
        les 
        fréquences 
        radioélectriques.  - Moyens de cryptage: dispositifs ou systèmes 
        électroniques permettant le cryptage des données 
        échangées sur les réseaux des télécommunications.  
        Art. 3 - Le centre d'études et de recherches des 
        télécommunications, sous la supervision du ministère 
        chargé des télécommunications, est responsable 
        d'étudier les dossiers d'homologation, de conformité et 
        de contrôle technique lors de l'importation et de la 
        commercialisation des équipements terminaux des 
        télécommunications 
        et 
        des 
        équipements 
        radioélectriques et délivrer les attestations suite aux 
        résultats positifs des rapports. En cas de réserve, le 
        dossier sera rejeté en précisant les motifs du rejet.</p>
    </div>
  </div>

  <div class="card" (click)="toggleDescription(2)" (mouseenter)="showDescription(2)" (mouseleave)="hideDescription(2)" routerLink="/creer-demande-retrait-conformité">
    <img src="../../assets/client3.png" alt="Client Image" class="client-image">
    <div class="card-header">Create a Compliance Withdrawal Request</div>
    <div class="card-content" [class.show]="showDescriptions[2]">
      <p class="description">Description: Vestibulum sit amet mauris velit. Nam eu nulla lobortis, malesuada eros vel, faucibus eros.</p>
    </div>
  </div>

  <div class="card" (click)="toggleDescription(3)" (mouseenter)="showDescription(3)" (mouseleave)="hideDescription(3)" routerLink="/creer-demande-temporelle">
    <img src="../../assets/images/client4.png" alt="Client Image" class="client-image">
    <div class="card-header">Create a Magnetic radio control Request</div>
    <div class="card-content" [class.show]="showDescriptions[3]">
      <p class="description">Description: Vestibulum sit amet mauris velit. Nam eu nulla lobortis, malesuada eros vel, faucibus eros.</p>
    </div>
  </div>

  <div class="card" (click)="toggleDescription(4)" (mouseenter)="showDescription(4)" (mouseleave)="hideDescription(4)" routerLink="/creer-demande-admission">
    <img src="../../assets/images/Client5.png" alt="Client Image" class="client-image">
    <div class="card-header">Create a Temporal admission Request</div>
    <div class="card-content" [class.show]="showDescriptions[4]">
      <p class="description">Description: Vestibulum sit amet mauris velit. Nam eu nulla lobortis, malesuada eros vel, faucibus eros.</p>
    </div>
  </div>
</div>
