<div class="container ">
  <div class="card" (click)="navigateToPage_Homologation()">
    <h2>Listing and Processing Certification Requests</h2>
    <div class="overlay"></div>
  </div>
  <div class="card" (click)="navigateToPage_Conformite()">
    <h2>List and Process Compliance Requests</h2>
    <div class="overlay"></div>
  </div>
  <div class="card" (click)="navigateToPageRetraits_Conformite()">
    <h2>Listing and Processing Compliance Withdrawals</h2>
    <div class="overlay"></div>
  </div>
  <div class="card" (click)="navigateToPagesMagnetic()">
    <h2>Listing and Processing radio Magnetic Demands</h2>
    <div class="overlay"></div>
  </div>
  <div class="card" (click)="navigateToPageAdmission()">
    <h2>Listing and Processing Admission Temporal Demands</h2>
    <div class="overlay"></div>
  </div>
</div>
