.container {
  display: flex;
  justify-content: center; /* Align items horizontally at the center */
  align-items: center; /* Align items vertically at the center */
  gap: 20px;
  flex-wrap: wrap;
  min-height: 100vh; /* Ensure the container takes up at least the full viewport height */
}


.card {
  position: relative;
  width: 300px;
  height: 200px;
  background-color: #efefef;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.card h2 {
  font-size: 1.2 rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #000000;
  text-align: center;
  margin: 0;
  padding: 20px;
  position: relative;
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 110, 225, 0.3);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card:hover .overlay {
  opacity: 1;
}

.overlay::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 0;
  }
}
