.main_container {
    margin:50px;
}

.min-height-600 {
    min-height: 600px;
}



.no-flex-wrap {
    flex-wrap: nowrap !important;
}

.bg-grey {
    background-color: #eff2f5 !important;
}
.border-none{
    border:none !important;
}