<div class="login-container">
  <div class="login-form">
    <img src="../../assets/LogInLogo.png" width="120px" alt="Login Logo">
    <h1>Welcome Back!</h1>

    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Username</mat-label>
        <input matInput ngModel name="userName" id="userName" placeholder="Enter your username">
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Password</mat-label>
        <input matInput ngModel name="userPassword" id="userPassword" placeholder="Enter your password" type="password">
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" class="w-100">Login</button>

      <div class="register-link-container">
        <span>Don't have an account? </span>
        <a routerLink="/register" class="register-link">Create one here</a>
      </div>
    </form>
  </div>
</div>
