<div class="row">
  <div class="col-md-8 d-flex justify-content-center align-items-center mt-3">
    <div class="input-group input-group-lg search-bar">
      <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="addon-wrapping" style="background-color:#eff2f5;">
      <div class="input-group-append mt-1">
        <button class="btn btn-primary search-btn" type="button"><i class="fas fa-search"></i></button>
      </div>
    </div>
  </div>
  <div class="col-md-4 mt-3">
    <div class="d-flex align-items-center justify-content-end">
  <div class="mr-3 greeting" style="margin-right: 20px;"> <!-- Adjust margin-right as needed -->
    <span>Vous etes bien authentifié</span>
  </div>
  <div style="margin-right: 35px;"> <!-- Adjust margin-right as needed -->
    <a href="javascript:void(0);" [routerLink]="['/profil']">
      <img src="../../assets/man.png" class="rounded-circle profile-pic" alt="Profile Picture" />
    </a>
  </div>
</div>

  </div>
</div>
